.vscode-server
.ssh
.gnupg
.dotnet
.cache
.local
.config
.gitconfig
.claude.json
.claude.json.*
.claude
.npm
.rustup
.python_history
.cargo/.global-cache
.cargo/.package-cache
.cargo/.package-cache-mutate
.cargo/git
.cargo/registry
.cargo/.crates.toml
.cargo/.crates2.json
.cargo/bin/
target
node_modules
test.py
.wget-hsts
qemu-9.*
qemu-10.*
__pycache__
old
.docker
aarch64
x86_64
user-data.json
.bashrc
.lesshst
.nvm
Cargo.lock
TODO.md
CLAUDE.md
